extends layout

block content
  h1= title
  p Welcome to #{title}

  

  //- home page
  //- header
  //- hero section 
  //- feature sections: science, tech, english, and math 
  //- footer with contact information 
  //- top blog posts 
  

  
