extends layout

block body
  
  

  //- home page
  //- header
  //- hero section 
  //- feature sections: science, tech, english, and math 
  //- footer with contact information 
  //- top blog posts 
  

  
