mixin icon_button(button_id, icon_label, button_text)
    button(type="submit" id=button_id
        class="bg-fb-blue shadow rounded px-4 p-2 hover:bg-orange-200 hover:border-orange-400 flex-1 text-white hover:text-gray-700") 
            p(class="flex justify-center gap-2")
                small(class="material-symbols-outlined") #{icon_label}
                span #{button_text}
                