<div class="max-w-full">
	<form action="/auth/signup" method="post">
		<h1 class="text-2xl font-serif">Signup for a new account</h1>
		<div class="mt-4 flex flex-col">
			<label for="email" class="flex-1 text-xs text-gray-400 uppercase">Email</label>
			<input class="rounded text-base border-2 border-blue-50 p-2 flex-1" type="email" name="email" id="email"
				placeholder="Your email address" />
		</div>

		<div class="mt-4 flex flex-col">
			<label for="password" class="flex-1 text-xs text-gray-400 uppercase">Password</label>
			<input class="rounded text-base border-2 border-blue-50 p-2 flex-1" type="password" name="password"
				id="password" placeholder="Enter your password" />
		</div>

		<div class="mt-4 flex flex-col">
			<label for="password" class="flex-1 text-xs text-gray-400 uppercase">Confirm password</label>
			<input class="rounded border-2 border-blue-50 p-2 flex-1 text-base" type="password" name="confirmPassword"
				id="confirmPassword" placeholder="Enter same password again" />
		</div>

		<div class="mt-4 flex">
			<button type="submit"
				class="border-2 border-blue-200 bg-blue-100 shadow rounded px-4 p-2 hover:bg-orange-100 hover:border-orange-200 flex-1">
				Create Account
			</button>
		</div>

		<div class="mt-4 flex flex-col text-sm gap-2 text-gray-500">
			<a class="w-fit hover:underline mx-auto" href="/auth/login">Already have an account? Login</a>
			<a class="w-fit hover:underline mx-auto" href="/auth/forgot-password">Forgot passord?</a>
		</div>
	</form>
</div>