mixin text_group_split()
    div(class="mt-4 flex flex-col")
        div(class="flex gap-2")
            div(class="flex-1") 
                label(for="firstName" class="flex-1 text-xs text-gray-400 uppercase") First name
                input(class="w-full rounded text-base border-2 border-blue-50 p-2 flex-1" type="text" name="firstName" id="firstName" placeholder="Your first name")
            div(class="flex-1")
                label(for="lastName" class="flex-1 text-xs text-gray-400 uppercase") Last name
                input(class="w-full rounded text-base border-2 border-blue-50 p-2 flex-1" type="text" name="lastName" id="lastName" placeholder="Your last name")