doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/tw-output.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  body
    block content
    
      
