doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/tw-output.css')
    link(rel="preload" href="/fonts/Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin)
  body
    block content
    
      
